@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.clip-inset-0 {
		clip-path: inset(0%);
	}

	.clip-inset-10 {
		clip-path: inset(10%);
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
